/* Contenedor del formulario */
#formulario-container {
    width: 50%; /* Ajusta el ancho del contenedor según sea necesario */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    text-align: center; /* Centra el texto en el contenedor */
}

/* Formulario de simulación */
label {
    display: block;
    margin-bottom: 10px; /* Aumenta el espacio entre etiquetas y campos */
    text-align: left; /* Alinea el texto de las etiquetas a la izquierda */
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 0 auto 10px; /* Centra horizontalmente los elementos y agrega espacio inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Centra horizontalmente el botón y agrega espacio superior e inferior */
}

button:hover {
    background-color: #0056b3;
}

/* Resultado */
#resultado {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center; /* Centra el texto del resultado */
}